.header {
  height: 96px;
  padding-inline: var(--global-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  position: relative;
  z-index: 2;

  .emblem img {
    height: 64px;
  }

  .sidebar-toggle {
    padding: 6px;
    padding-bottom: 1px;

    .icon {
      font-size: 32px;
    }
  }

  .mobile-nav {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    background-color: #fff;
    border-block: 1px solid #ccc;
    transition: transform 0.3s ease-in-out;

    &.visible {
      display: block;
    }

    & > ul {
      padding-block: 0.6rem;

      .nav-item {
        &.active {
          color: var(--secondary);
        }

        & a[disabled='true'] {
          color: #b3b3b3 !important;
          pointer-events: none;
        }

        .nav-item {
          padding-inline: 1rem;

          & > a {
            display: flex;
            align-items: center;
            gap: 0.4rem;
          }

          .icon {
            font-size: 18px;
          }
        }

        & > a,
        & > button {
          padding: 0.6rem var(--global-padding);
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          transition: color 0.3s;

          &:hover {
            color: var(--secondary);
          }
        }

        & ul {
          display: none;

          &.open {
            display: initial;
          }
        }
      }
    }
  }

  .top-nav {
    display: none;
    height: 100%;

    & > ul {
      list-style: none;
      display: flex;
      gap: 0.4rem;
      height: 100%;

      & > .nav-item {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        border-radius: var(--radius);
        font: inherit;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        & > a {
          padding: 2rem 1.2rem;
        }

        & a[disabled='true'] {
          color: #b3b3b3 !important;
          pointer-events: none;
        }

        &:hover,
        &.active {
          color: var(--secondary);

          &::after {
            width: 100%;
          }

          & button {
            color: var(--secondary);
          }
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          background-color: var(--secondary);
          height: 4px;
          transition: width 0.3s;
        }

        & > button {
          display: flex;
          align-items: center;
          height: 100%;
          padding-inline: 1.2rem;

          .icon {
            color: var(--secondary);
            font-size: 30px;
            padding-top: 2px;
          }
        }

        .dropdown {
          visibility: hidden;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translateY(100%);
          background-color: #fff;
          list-style-type: none;
          padding: 0.8rem 0.6rem;
          width: max-content;
          color: #000;

          & > li {
            padding: 0.6rem 1.6rem;

            &:hover {
              color: var(--secondary);
            }

            & > a {
              display: flex;
              align-items: center;
              gap: 0.4rem;
            }

            .icon {
              font-size: 18px;
            }
          }
        }

        &:hover .dropdown,
        & > button:focus-visible + .dropdown,
        & > .dropdown:has(:focus-visible) {
          visibility: visible;
        }
      }
    }
  }
}

/* Tablet and over */
@media screen and (min-width: 768px) {
  .header {
    .sidebar-toggle,
    .mobile-nav {
      display: none;
    }

    .top-nav {
      display: initial;
    }
  }
}
