#hero {
  position: relative;
  height: 100vh;

  .backdrop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2rem;
    gap: 2.5rem;
  }

  & h1 {
    font-weight: normal;
  }

  .btn {
    border: 2px solid #fff;
    border-radius: var(--radius);
    padding: 0.5rem 2rem;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

@media screen and (min-width: 425px) {
  #hero {
    .backdrop {
      object-position: right;
    }

    .text {
      left: var(--global-padding);
      text-align: left;
      align-items: start;
      transform: translate(0, -50%);
    }
  }
}

@media screen and (min-width: 1024px) {
  #hero .text {
    & h1 {
      font-size: 3rem;
    }

    & p,
    .btn {
      font-size: 1.2rem;
    }
  }
}
