#hero {
  position: relative;
  height: 650px;

  .backdrop-container {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
    position: relative;

    &::before,
    &::after {
      height: 100%;
      width: 50px;
    }

    &::before {
      left: 0;
      transform: translateX(100%);
      background-image: linear-gradient(to right, #000, transparent);
    }

    &::after {
      right: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(to left, #000, transparent);
    }

    .backdrop {
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
      pointer-events: none;
    }
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  & h1 {
    font-weight: normal;
  }

  .btn {
    border: 0;
    border-radius: var(--radius);
    padding: 0.7rem 2rem;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    gap: 0.3rem;

    &:hover {
      background-color: var(--primary-hover);
    }
  }
}

section {
  padding: 50px var(--global-padding);

  & h2 {
    font-size: 2.5rem;
  }

  &:nth-child(odd) {
    background-color: #f4f4f4;
  }
}

/* Upplev spänningen i schack */
#chess-excitement {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  gap: 2rem;

  .left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.5rem;
  }

  .right,
  .right img {
    width: 100%;
    height: auto;
  }
}

/* Våra träningar */
#our-trainings {
  & h2 {
    margin-bottom: 2.5rem;
    text-align: center;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 2rem 1rem;
    align-items: center;

    .card {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1.25rem;

      & img {
        width: 100%;
      }

      & h3 {
        font-size: 1.5rem;
      }

      & span {
        color: #696969;
        font-size: 0.9rem;
      }
    }
  }
}

/* 15 års erfarenhet */
#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 6rem 6rem;
  gap: 2rem;

  .col.years-experience {
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;

    .bracket {
      position: absolute;
      top: 0;
      bottom: 0;
      width: calc(100% / 3);
      border: 7px solid #ddd;

      &:nth-child(1) {
        left: 0;
        border-right-width: 0;
      }

      &:nth-child(2) {
        right: 0;
        border-left-width: 0;
      }
    }

    .text {
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 0.6rem;

      .years {
        color: var(--secondary);
        font-size: 4rem;
      }
    }
  }

  .col.title h2 {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
  }

  .col.text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: end;

    & p {
      text-align: center;
      text-wrap: balance;
    }
  }

  .btn {
    align-self: center;
  }
}

/* Nyheter */
#news {
  & h2 {
    margin-bottom: 2.5rem;
  }

  .news-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    column-gap: 2rem;
    row-gap: 1rem;

    & article {
      padding-bottom: 13px;
      border-bottom: 2px solid #dbe4ed;
    }

    & article {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 6rem 1fr max-content;
      gap: 0.6rem 0.8rem;

      &:first-child {
        grid-column: 1 / 1;

        .banner {
          width: 100%;
          height: auto;
        }
      }

      .banner {
        grid-row: 1 / -1;
        cursor: pointer;
        height: 4rem;
        aspect-ratio: 1.5;
        overflow: hidden;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .title {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        grid-column: 2 / 4;

        & a:hover {
          text-decoration: underline;
        }
      }

      .desc {
        display: none;
      }

      .author {
        display: grid;
        grid-template-columns: max-content auto;
        align-items: center;
        gap: 0.4rem;

        & img {
          height: 28px;
          width: 28px;
          min-width: 28px;
          border-radius: 50%;
          overflow: hidden;
        }

        & span {
          font-size: 0.8rem;
          text-wrap: nowrap;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .timestamp {
        justify-self: end;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        color: #696969;

        .icon {
          font-size: 0.75rem;
          padding-top: 1px;
        }

        & span {
          font-size: 0.75rem;
        }
      }
    }
  }
}

/* >= Mobile L */
@media screen and (min-width: 425px) {
  #hero {
    .backdrop-container .backdrop {
      width: 100%;
      object-position: right;
    }

    .text {
      left: var(--global-padding);
      text-align: left;
      align-items: start;
      transform: translate(0, -50%);
    }
  }

  #news .news-container article {
    .author span {
      font-size: 0.9rem;
    }

    .timestamp .icon,
    .timestamp span {
      font-size: 0.9rem;
    }

    .timestamp .icon {
      padding-top: 2px;
    }
  }
}

/* >= Tablet */
@media screen and (min-width: 768px) {
  #news .news-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(5, 1fr);

    & article:not(:first-child) {
      padding-bottom: 13px;
    }

    & article:first-child {
      grid-row: 1 / -1;
      grid-template-rows: repeat(3, min-content) auto;
      grid-template-columns: 1fr 1fr;

      .banner {
        grid-column: 1 / 3;
        grid-row: 1 / 1;

        & img:hover {
          transform: scale(1.05);
        }
      }

      .title {
        grid-column: 1 / 3;
        grid-row: 2 / 2;
      }

      .author {
        grid-row: 3 / 3;
      }
    }

    & article:first-child {
      border-bottom: 0;
    }
  }

  /* Våra träningar */
  #our-trainings .cards-container {
    flex-direction: row;
    align-items: start;

    & span {
      line-height: 1.5rem;
      height: 3rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

/* Hero section change */
@media screen and (min-width: 975px) {
  #hero .text {
    & h1 {
      font-size: 3rem;
    }

    & p,
    .btn {
      font-size: 1.2rem;
    }

    .backdrop {
      object-position: center;
    }
  }
}

/* >= Laptop */
@media screen and (min-width: 1024px) {
  #hero .backdrop-container {
    &::before,
    &::after {
      content: '';
    }

    .backdrop {
      object-fit: contain;
    }
  }

  #experience {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    .col.title h2 {
      text-align: left;
      max-width: 25rem;
      width: min-content;
    }

    .col.text p {
      text-align: left;
      text-wrap: unset;
      max-width: 300px;
    }

    .btn {
      align-self: end;
    }
  }

  /* Upplev spänningen i schack */
  #chess-excitement {
    grid-template-columns: 1fr 1fr;
  }
}
