#hero {
  position: relative;
  height: 650px;

  .backdrop-container {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
    position: relative;

    &::before,
    &::after {
      content: '';
      height: 100%;
      width: 50px;
    }

    &::before {
      left: 0;
      transform: translateX(100%);
      background-image: linear-gradient(to right, #000f, transparent);
    }

    &::after {
      right: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(to left, #000f, transparent);
    }

    .backdrop {
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
      pointer-events: none;
    }
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2rem;
    gap: 2.5rem;
  }

  & h1 {
    font-weight: normal;
  }

  .btn {
    border: 0;
    border-radius: var(--radius);
    padding: 0.7rem 2rem;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    gap: 0.3rem;

    &:hover {
      background-color: var(--primary-hover);
    }
  }
}

section {
  min-height: 450px;
  padding: 50px var(--global-padding);

  &:nth-child(odd) {
    background-color: #f4f4f4;
  }

  /* Upplev spänning en i schack */
  &:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 2rem;

    .left {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 2.5rem;
    }

    .right,
    .right img {
      width: 100%;
      height: auto;
    }

    & h2 {
      font-size: 2.5rem;
    }
  }
}

/* >= Mobile L */
@media screen and (min-width: 425px) {
  #hero {
    .backdrop-container .backdrop {
      width: 100%;
      object-position: right;
    }

    .text {
      left: var(--global-padding);
      text-align: left;
      align-items: start;
      transform: translate(0, -50%);
    }
  }
}

/* Change title font size */
@media screen and (min-width: 750px) {
  #hero .text {
    & h1 {
      font-size: 3rem;
    }

    & p,
    .btn {
      font-size: 1.2rem;
    }
  }
}

/* Hero section image */
@media screen and (min-width: 975px) {
  #hero .backdrop {
    object-position: center;
  }
}

/* >= Laptop */
@media screen and (min-width: 1024px) {
  section {
    /* Upplev spänning en i schack */
    &:nth-of-type(1) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
